@using Microsoft.Data.SqlClient
@model VeganLife.Web.ViewModels.Recipes.CreateRecipeInputModel
@{
    this.ViewData["Title"] = "Add new recipe";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<div class=col-md-12>
    <form method="post" enctype="multipart/form-data">
        <h1 id="adding-new-recipe-title">@this.ViewData["Title"]</h1>
        <div asp-validation-summary=All class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Recipe's name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Instructions">Instructions:</label>
            <textarea asp-for="Instructions" class="form-control" rows="5" /></textarea>
            <span asp-validation-for="Instructions" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalCookingTime"></label>
            <input asp-for="TotalCookingTime" />
            <span asp-validation-for="TotalCookingTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PortionsCount">Portions</label>
            <input asp-for="PortionsCount" />
            <span asp-validation-for="PortionsCount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CaloriesPerPortion">Calories per portion(kcal)</label>
            <input asp-for="CaloriesPerPortion" />
            <span asp-validation-for="CaloriesPerPortion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Reccomended for:</label>
            <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Images">Choose an image</label>
            <input asp-for="Images" class="form-control">
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <div id="IngredientsContainer">
            <label asp-for="Ingredients"></label>
            <a id="button-to-add-recipe"class="btn btn-primary btn-sm" onclick="AddMoreIngredients()">+</a>
        </div>
        <input type="submit" class="btn btn-primary" />
        <hr />
    </form>
</div>

@section Scripts {
<script>

    var ingredientIndex = 0;
    function AddMoreIngredients(){
        $("#IngredientsContainer").
        append("<div class='form-control'>Name: <input type='text' name='Ingredients[" + ingredientIndex + "].IngredientName' />Quantity: <input type='text' name='Ingredients[" + ingredientIndex + "].Quantity' /></div>");
        ingredientIndex++;
    }
</script>
    }
