@using VeganLife.Common
@model VeganLife.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Shop";
}
<hr />
<div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://rainbowplantlife.com/wp-content/uploads/2021/02/agave-nectar-483x1024.jpg" alt="Agave nectar">
            <div class="card-body">
                <h5 class="card-title">Agave nectar</h5>
                <a href="https://www.amazon.com/NOW-Foods-Organic-Nectar-23-2-Ounce/dp/B00MU749LW/ref=as_li_ss_tl?crid=1ZYRZNJ60B367&keywords=agave+nectar&qid=1580414793&sprefix=agave+ne,wholefoods,153&sr=8-4&linkCode=sl1&tag=ainbolantife-20&linkId=d9213b2b6f8ba8d2b05bff3dd0ad83b4&language=en_US" class="btn btn-primary">Buy product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://rainbowplantlife.com/wp-content/uploads/2020/12/Screen-Shot-2020-12-20-at-9.40.18-AM.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Almond flour</h5>
                <a href="https://www.amazon.com/gp/product/B00CLLV2D0/ref=as_li_ss_tl?ie=UTF8&th=1&linkCode=sl1&tag=ainbolantife-20&linkId=6976941ea3681236e7c0de4b341b3bf0&language=en_US" class="btn btn-primary">Buy product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://rainbowplantlife.com/wp-content/uploads/2021/02/Arrowhead-Mills-Organic-Red-Lentils-600x807.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Red lentils</h5>
                <a href="https://www.amazon.com/Arrowhead-Mills-Organic-Lentils-Packaging/dp/B00CLATJMW/ref=as_li_ss_tl?ie=UTF8&qid=1549408661&sr=8-6&keywords=red%2Blentils&linkCode=sl1&tag=ainbolantife-20&linkId=ed30d7f6eec64379fbe2e8e688174a61&language=en_US&th=1" class="btn btn-primary">Buy product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://rainbowplantlife.com/wp-content/uploads/2020/12/81bTa6UB8iL._SL1500_-600x653.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Arrowroot powder</h5>
                <a href="https://www.amazon.com/Arrowroot-Pounds-Anthonys-Tested-Gluten-Free/dp/B00OJ757SK/ref=as_li_ss_tl?s=grocery&ie=UTF8&qid=1542592261&sr=1-4&keywords=arrowroot%2Bpowder&linkCode=sl1&tag=ainbolantife-20&linkId=d72897c71e0698ba2ed852c26b44787e&language=en_US&th=1" class="btn btn-primary">Buy product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/91XosyuoEWL._SY879_.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Blackstrap molasses</h5>
                <a href="https://www.amazon.com/dp/B000YOQOAC/ref=as_li_ss_tl?pf_rd_m=ATVPDKIKX0DER&pf_rd_p=3008523062&pd_rd_wg=ezzQC&pf_rd_r=4BPQH5TN2K87QQDN5BA4&pf_rd_s=desktop-rhs-carousels&pf_rd_t=301&pd_rd_i=B000YOQOAC&pd_rd_w=b7uwE&pf_rd_i=organic+blackstrap+molasses&pd_rd_r=11716433-7387-42bb-82c1-e99900378d6f&ie=UTF8&qid=1515272939&sr=1&linkCode=sl1&tag=ainbolantife-20&linkId=a2e48a71317c3c071aba56c35995c6b1&language=en_US" class="btn btn-primary">Buy product</a>
            </div>
        </div>
</div>
<hr />