@using VeganLife.Common
@model VeganLife.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "About Us";
}
<div>
    <h1 id="about-us-title"class="center">This is us!</h1>
    <hr />
    <div id="img-aboutus">
        <img src="https://oneminuteenglish.org/wp-content/uploads/2021/04/Untitled-design-2021-04-09T125842.465-1024x576.png" class="img-fluid center" alt="Responsive image">
    </div>
    <div class="aboutUsContent">
        <h1 class="aboutUsH">We inspire people to be vegan to save the world! </h1>
        <h4 class="aboutUs">VeganLife is a 501(c)3 nonprofit organization (FIN# 94-3224024) works to eliminate animal suffering, reduce environmental impacts, and improve human health through a vegan diet.Created in 1995, VeganLife.com is one of the oldest and most visited vegan websites in the world. Our efforts over the past 25 years include certifying thousands of vegan products with our logo through our Vegan Certification Campaign</h4>
    </div>
</div>