@using VeganLife.Common
@model VeganLife.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <ul>
        

    </ul>
</div>